<ion-content padding id="loginCont">

    <div id="loginBox">
      <h3><ion-icon name="repeat"></ion-icon> Refazer senha</h3>

        <ion-card>
          <div *ngIf="!checkcode">
            <form name="form" (ngSubmit)="f.form.valid && getResetCode()" #f="ngForm" novalidate>
              <ion-list>
                <ion-item class="input-login" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                  <ion-label floating>E-mail cadastrado</ion-label>
                  <ion-input type="email" name="username" [(ngModel)]="model.username" #username="ngModel" required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"></ion-input>
                  <div *ngIf="f.submitted && !username.valid" class="help-block">Esse campo é obrigatório</div>
                </ion-item>
                <ion-item>
                  <button ion-button default full icon-left color="primary" [disabled]="loading"><ion-icon name="log-in"></ion-icon>Enviar</button>
                </ion-item>
                <hr>
                <ion-item>
                  <div class="linkFooter cancelLogin">
                    <a (click)="goHome()">Cancelar</a>
                  </div>
                </ion-item>
              </ion-list>
            </form>
          </div>

          <div *ngIf="checkcode && !passInput">
            <form name="form" (ngSubmit)="f.form.valid && checkResetCode()" #f="ngForm" novalidate>
              <ion-list>
                <ion-item text-wrap>
                  <span class="emailcheck">Uma mensagem com o código de verificação foi enviada para o E-mail: <strong>{{model.username}}</strong></span>
                  <br>
                  <button ion-button color="light" small (click)="getResetCode()">Reenviar código</button>
                </ion-item>
                <hr>
                <ion-item class="input-login" [ngClass]="{ 'has-error': f.submitted && !code.valid }">
                  <ion-label floating>Código de vericação</ion-label>
                  <ion-input type="text" name="code" [(ngModel)]="model.code" #code="ngModel" required></ion-input>
                  <div *ngIf="f.submitted && !code.valid" class="help-block">Esse campo é obrigatório</div>
                </ion-item>
                <ion-item>
                  <button ion-button default full icon-left color="primary" [disabled]="loading"><ion-icon name="log-in"></ion-icon>Enviar</button>
                </ion-item>
                <hr>
                <ion-item>
                  <div class="linkFooter cancelLogin">
                    <a (click)="goHome()">Cancelar</a>
                  </div>
                </ion-item>
              </ion-list>
            </form>
          </div>

          <div *ngIf="checkcode && passInput">
            <form name="form" (ngSubmit)="f.form.valid && checkPassword()" #f="ngForm" novalidate>
              <ion-list>
                <ion-item>
                  <span class="nameuser">Nome: <strong>{{model.name}}</strong></span>
                </ion-item>
                <ion-item>
                  <span class="emailuser">E-mail: <strong>{{model.username}}</strong></span>
                </ion-item>
                <hr>
                <ion-item class="input-login" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <ion-label floating>Nova senha</ion-label>
                  <ion-input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required></ion-input>
                  <div *ngIf="f.submitted && !password.valid" class="help-block">Esse campo é obrigatório</div>
                </ion-item>
                <ion-item class="input-login" [ngClass]="{ 'has-error': f.submitted && !password2.valid }">
                  <ion-label floating>Confirme a nova senha</ion-label>
                  <ion-input type="password" name="password2" [(ngModel)]="model.password2" #password2="ngModel" required></ion-input>
                  <div *ngIf="f.submitted && !password2.valid" class="help-block">Esse campo é obrigatório</div>
                </ion-item>
                <ion-item>
                  <button ion-button default full icon-left color="primary" [disabled]="loading"><ion-icon name="log-in"></ion-icon>Enviar</button>
                </ion-item>
                <hr>
                <ion-item>
                  <div class="linkFooter cancelLogin">
                    <a (click)="goHome()">Cancelar</a>
                  </div>
                </ion-item>
              </ion-list>
            </form>
          </div>
        </ion-card>
    </div>
</ion-content>
