<ion-header>
	<ion-navbar>
		<ion-title>{{'PRIVACYPOLICY' | translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

  <h3>{{legalText.title}}</h3>

  <div [innerHtml]="legalText.introtext"></div>
  <div *ngIf="showImage"><img src="{{legalText.image.src}}"></div>
  <div [innerHtml]="legalText.fulltext" id="fullText" class="fullText"></div>

</ion-content>
