<ion-header>
	<ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
		<ion-title>{{'ABOUT' | translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

  <h3>{{about.title}}</h3>

  <div [innerHtml]="about.introtext"></div>
  <div *ngIf="showImage"><img src="{{about.image.src}}"></div>
  <div [innerHtml]="about.fulltext" id="fullText" class="fullText"></div>

</ion-content>
