<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{'SPRINGS' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>{{spring.title}}</h3>

  <div [innerHtml]="spring.introtext"></div>
  <div><img src="{{spring.image.src}}"></div>
  <div [innerHtml]="spring.fulltext" id="fullText" class="fullText"></div>

</ion-content>
