ion-content {
    &#loginCont {
        background-image: url('../assets/img/bg_login_water.jpg');
        background-size: cover;
    }
}
.loginHeader {
    padding: 5px;
    // background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    img {
        display: inline-block;
        width: 75%;
    }
}

#loginBox {
    text-align: center;
    margin-top: 20px;
    h3 {
        color: #0c5f78;
    }
    ion-card {
      background: rgba(255, 255, 255, 0.85);
      ion-item {
        background: none;
        &.input-login {
          padding-right: 16px;
        }
      }
    }
}
