<ion-content padding id="loginCont">

  <ion-title class="loginHeader">
    <img src="assets/img/logo_login.svg" alt="Água para o Futuro">
  </ion-title>

    <div id="loginBox">
      <h3>Acessar</h3>

        <ion-card>

            <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
              <ion-list>
                <ion-item class="input-login" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                  <ion-label floating>Nome completo</ion-label>
                  <ion-input type="text" name="name" [(ngModel)]="model.name" #name="ngModel" required></ion-input>
                  <div *ngIf="f.submitted && !name.valid" class="help-block">Esse campo é obrigatório</div>
                </ion-item>
                <ion-item class="input-login" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                  <ion-label floating>E-mail</ion-label>
                  <ion-input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"></ion-input>
                  <div *ngIf="f.submitted && !email.valid" class="help-block">Esse campo é obrigatório</div>
                </ion-item>
                <ion-item class="input-login" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <ion-label floating>Senha</ion-label>
                  <ion-input type="text" name="password" [(ngModel)]="model.password" #password="ngModel" required></ion-input>
                  <div *ngIf="f.submitted && !password.valid" class="help-block">Esse campo é obrigatório</div>
                </ion-item>
                <ion-item>
                  <button ion-button default full icon-left color="secondary" [disabled]="loading"><ion-icon name="checkmark"></ion-icon>Registrar</button>
                  <button ion-button default full icon-left (click)="fbLogin()"><ion-icon name="logo-facebook"></ion-icon>Registrar com o Facebook</button>
                </ion-item>
                <hr>
                <ion-item>
                  <div class="linkFooter">
                    <a (click)="goToLogin()">Já tenho conta</a>
                  </div>
                </ion-item>
              </ion-list>
            </form>

        </ion-card>

    </div>
</ion-content>
