ion-content.home {
  background-image: url('../assets/img/bg_home_blue.jpg');
  background-size: cover;
  h2, p {
   text-align: center;
   color: #FFFFFF;
  }
  h2 {
    margin-top: 1rem !important;
    margin-bottom: 0;
    font-weight: bold;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  button {
    margin-bottom: 1.5rem;
  }

}
page-home {
  ion-header {
    .toolbar-background {
      background-color: rgba(0, 0, 0, 0.3);
    }
    button {
      &.bar-button-default-ios, &.bar-button-default-md {
        color: #FFFFFF;
      }
    }
  }
  .welcomeBox {
    padding-top: 4vh;
    opacity: 0;
    transform: translate(0px, 25px);
    h4 {
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 0;
      font-size: 2.5em;
      font-weight: 300;
    }
  }
}

.logoHome {
  width: 60%;
  margin: 5vh auto 0 auto;
  padding-right: .75rem;
  position: relative;
  .dropman {
    position: absolute;
    width: 5rem;
    right: -2.5rem;
    bottom: 0;
    opacity: .75;
    img {
      opacity: 0;
      transform: translate(-30px, 0px) scale(.5, .5);
    }
  }
  img {
    opacity: 0;
    transform: translate(0px, 50px) scale(1.5, 1.5);
  }
}

.option-content {
  position: absolute;
  left: 1em;
  right: 1em;
  top: auto;
  bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  @media screen and (max-height: 500px) {
    position: static;
  }
  .option-btn {
    padding: 5vh 0 5vh 0;
    width: 50%;
    margin: 0;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    overflow: visible !important;
    position: relative;
    opacity: 0;
    span {
      display: block;
      font-size: 0.85em;
    }
    img {
      height: 12vh;
      padding: 1.5rem;
      @media screen and (max-height: 500px) {
        height: 64px;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 0.5px;
      height: 50%;
      background-color: rgba(255, 255, 255, .2);
      position: absolute;
    }
    &:after {
      content: '';
      display: block;
      width: 50%;
      height: 0.5px;
      background-color: rgba(255, 255, 255, .2);
      position: absolute;
    }
    &.option-map {
      transform: translate(30px, 30px) scale(.75, .75);
      &:before, &:after {
        bottom: 0;
        right: 0;
      }
    }
    &.option-newspring {
      transform: translate(-30px, 30px) scale(.75, .75);
      &:before, &:after {
        bottom: 0;
        left: 0;
      }
    }
    &.option-monitoring {
      transform: translate(30px, -30px) scale(.75, .75);
      &:before, &:after {
        top: 0;
        right: 0;
      }
    }
    &.option-ar {
      transform: translate(-30px, -30px) scale(.75, .75);
      &:before, &:after {
        top: 0;
        left: 0;
      }
    }
  }
}
