<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <div class="logoHome">
    <img #logoHomeSVG id="logoHome" src="assets/img/logo_home_horizontal.svg" alt="Água para o Futuro">
    <div class="dropman"><img #dropManSVG src="assets/img/dropman.svg"></div>
  </div>
  <div #welcomeMSG class="welcomeBox">
      <h4>{{'WELCOME' | translate}}</h4>
      <p>{{'HOME_MESSAGE' | translate}}</p>
  </div>


  <div class="option-content">

    <button #btnMap ion-button class="option-btn option-map" (click)="gotoPage('nascente')">
      <img src="assets/img/icon_map.svg">
      <span>{{'SPRINGS' | translate}}</span>
    </button>
    <button #btnNewspring ion-button class="option-btn option-newspring" (click)="gotoPage('nova_nascente')">
      <img src="assets/img/icon_new_spring.svg">
      <span>{{'NEW_SPRING' | translate}}</span>
    </button>
    <button #btnMonitoring ion-button class="option-btn option-monitoring" (click)="gotoPage('monitoramento')">
      <img src="assets/img/icon_monitoring.svg">
      <span>{{'MONITORING' | translate}}</span>
    </button>
    <button #btnAr ion-button class="option-btn option-ar" (click)="gotoPage('ar')">
      <img src="assets/img/icon_ar.svg">
      <span>{{'IMAGERECOGNITION' | translate}}</span>
    </button>

  </div>
</ion-content>
