@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?43z03a');
  src:  url('../onts/icomoon.eot?43z03a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff?43z03a') format('woff'),
    url('../fonts/icomoon.svg?43z03a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[class^="ion-ios-icon"],
[class*="ion-ios-icon"],
[class^="ion-md-icon"],
[class*="ion-md-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info-outline:before {
  content: "\e900";
}
.icon-mail-outline:before {
  content: "\e901";
}
.icon-people:before {
  content: "\e902";
}
.icon-location:before {
  content: "\e903";
}
.icon-monitoring:before {
  content: "\e904";
}
.icon-apf:before {
  content: "\e905";
}
.icon-newspring:before {
  content: "\e906";
}
.icon-apf-map:before {
  content: "\e907";
}
