<ion-header>
	<ion-navbar>
		<ion-title>{{'TERMSOFUSE' | translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<h3>Termos de uso do aplicativo Água para o Futuro</h3>
	<p>
		O aplicativo Água para o Futuro, disponibilizado pelo Ministério Público de Mato Grosso, oferece informações sobre o projeto e possibilita a integração de diversas fontes de informação.
		O usuário poderá utilizar este aplicativo após sua instalação apenas para finalidades lícitas.
	</p>
	<p>Este aplicativo não poderá ser utilizado para publicar, enviar, distribuir ou divulgar conteúdo ou informação de caráter difamatório, obsceno ou ilícito, inclusive informações de propriedade exclusiva de outras pessoas ou empresas, bem como marcas registradas ou informações protegidas por direitos autorais, sem a expressa autorização do detentor desses direitos.</p>
	<p>O usuário não poderá usar o aplicativo para obter ou divulgar informações pessoais, inclusive endereços na Internet sobre outros usuários do aplicativo.</p>
	<p>Os criadores do aplicativo e os colaborados do projeto Água para o Futuro empenham-se em manter a qualidade, a atualidade e a autenticidade das informações disponibilizadas, mas não se responsabilizam por eventuais falhas nos serviços ou inexatidão dos conteúdos oferecidos.</p>
	<p>
		O usuário não deve ter como pressuposto que tais serviços e informações são isentos de erros ou serão adequados aos seus objetivos particulares.
		Os criadores e colaboradores tampouco assumem o compromisso de atualizar o conteúdo e se reservam o direito de alterar a qualquer momento as condições de uso ou serviços e produtos oferecidos.
	</p>
	<p>Os materiais são fornecidos neste aplicativo sem nenhuma garantia explícita ou implícita de comercialização ou adequação a qualquer objetivo específico. Em nenhum caso o projeto Água para o Futuro ou os seus colaboradores serão responsabilizados por quaisquer danos, incluindo lucros cessantes, interrupção de negócio ou perda de informação que resultem do uso ou da incapacidade de usar os materiais.</p>
	<p>O projeto Água para o Futuro tampouco é responsável pela violação de direitos autorais decorrente de informações, documentos e materiais publicados nesse aplicativo, comprometendo-se a retirá-los assim que notificado da infração.</p>
	<p>O projeto Água para o Futuro poderá monitorar, revistar e restringir o acesso a qualquer parte do aplicativo em que usuários transmitem e trocam informações entre si, incluindo centro de mensagens ou outros fóruns de debates, podendo excluir manifestação ou vedar o acesso a quaisquer destas informações ou comunicações.</p>
	<p>O projeto Água para o Futuro não é responsável pelo conteúdo das mensagens trocadas entre os usuários, sejam lícitas, sejam ilícitas.</p>
	<p>Esta autorização é concedida a título gratuito, abrangendo o uso da imagem acima mencionada em todo o território nacional e no exterior, em todas as suas modalidades e sem limite de tempo ou número de utilizações.</p>
	<p>Por esta ser a expressão da minha vontade, autorizo o uso acima descrito sem que nada haja a ser reclamado a título de direitos conexos a minha imagem ou a qualquer outro, estando de acordo com o Termo e Condições de Uso.</p>

</ion-content>
