<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      <ion-title>{{'IMAGERECOGNITION' | translate}}</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="btnWrapper">
    <button ion-button large (click)="navCtrl.pop()">
      <img src="assets/img/icon_ar.svg">
      Identificar outra imagem</button>
    <br> ou <br>
    <button ion-button color="light" (click)="navCtrl.popToRoot()">voltar para o início</button>
  </div>

</ion-content>
