page-videoplayer {
  .btnWrapper {
    text-align: center;
    padding-top: 5vh;
    button {
      display: inline-block;
      height: auto;
      padding: 2rem;
      width: 75%;
      .button-inner {
        flex-flow: row wrap;
        img {
          width: 40%;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
