<ion-header>
  <ion-navbar>
    <ion-title>
      {{'CUSTOM_LOCATION' | translate}}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (tap)="currentLocation()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

    <agm-map
    class="custonLocation"
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="true"
    [usePanning]="true"
    (mapClick)="mapClicked($event)">
    <agm-marker
        [latitude]="markers.lat"
        [longitude]="markers.lng"
        [markerDraggable]="markers.draggable"
        [iconUrl]="markers.icon"
        (dragEnd)="markerDragEnd( markers, $event )">
    </agm-marker>
    </agm-map>
  <ion-list>
    <ion-item>
      <button type="button" ion-button full (tap)="saveLocation()"> Salvar posição</button>
    </ion-item>
  </ion-list>

</ion-content>
