<ion-content padding id="loginCont">

  <ion-title class="loginHeader">
    <img src="assets/img/logo_login.svg" alt="Água para o Futuro">
  </ion-title>

    <div id="loginBox">
      <h3><ion-icon name="key"></ion-icon> Acessar</h3>

        <ion-card>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
              <ion-list>
                <ion-item class="input-login" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                  <ion-label floating>E-mail</ion-label>
                  <ion-input type="email" name="username" [(ngModel)]="model.username" #username="ngModel" required  pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"></ion-input>
                  <div *ngIf="f.submitted && !username.valid" class="help-block">Esse campo é obrigatório</div>
                </ion-item>
                <ion-item class="input-login" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <ion-label floating>Senha</ion-label>
                  <ion-input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required></ion-input>
                  <div *ngIf="f.submitted && !password.valid" class="help-block">Esse campo é obrigatório</div>
                </ion-item>
                <ion-item>
                  <button type="submit" ion-button default full icon-left color="secondary"><ion-icon name="log-in"></ion-icon>Login</button>
                  <button type="button" ion-button default full icon-left (click)="fbLogin()"><ion-icon name="logo-facebook"></ion-icon>Entrar com o Facebook</button>
                </ion-item>
                <ion-item>
                  <div class="linkFooter">
                    <a (click)="goRegister()">Criar conta</a>
                    <br>
                    <a (click)="goRecover()">Esqueceu sua senha?</a>
                  </div>
                </ion-item>
                <ion-item>
                  <div class="linkFooter cancelLogin">
                    <a (click)="navCtrl.popToRoot()">Cancelar</a>
                  </div>
                </ion-item>
              </ion-list>
            </form>
        </ion-card>

    </div>
</ion-content>
