<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <div>
        <ion-title class="logomenu">
          <img src="assets/img/logo_menu.svg" alt="Água para o Futuro">
        </ion-title>
      </div>
      <ion-item *ngIf="userName">
        <ion-icon name="contact" item-left></ion-icon>
        <h2>Olá {{userName}}</h2>
        <p>{{userEmail}}</p>
      </ion-item>
      <ion-item *ngIf="!userName">
        <button ion-button small icon-left color="light" (click)="goLogin()">Entrar</button>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item menuClose ion-item *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon [name]="page.icon" item-left></ion-icon>
        {{page.title | translate}}
      </ion-item>
      <ion-item (click)="logOut()" *ngIf="userName">
        <ion-icon name="md-log-out" item-left></ion-icon>
          Sair
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
