// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Roboto Font
// @import url('/assets/css/roboto.css');

// Add cutom icons to the project
// @import '/assets/css/icomoon.css';
@mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}
@include makeIcon('info-outline', '\e900');
@include makeIcon('mail-outline2', '\e901');
@include makeIcon('people-group', '\e902');
@include makeIcon('location', '\e903');
@include makeIcon('monitoring', '\e904');
@include makeIcon('apf', '\e905');
@include makeIcon('newspring', '\e906');
@include makeIcon('apf-map', '\e907');

* {
  font-family: 'Roboto';
}

img {
	max-width: 100%;
	height: auto;
}

video, audio {
	width:100%;
	max-width:100%;
	box-sizing: border-box;
	display: inline-block;
}
ion-menu {
	.menu-inner ion-toolbar {
		.toolbar-background {
			background: #0c5f78;
		}
		ion-title {
      img {
        width: 180px;
        margin-top: 2em;
      }
      &.title-ios {
        .toolbar-title-ios {
          text-align: left;
          padding-left: 15px;
          img {
            width: 136px;
            margin-top: .5em;
            display: inline-block;
          }
        }
      }
    }
		ion-item {
			color: #FFF;
			p {
				color: #FFF;
			}
			ion-icon {
				font-size: 3.8rem;
			}
			&.item-md {
				background: none;
				p {
					color: #FFF;
				}
			}
			.item-inner {
				border-bottom: 0 !important;
				margin-left: 0 !important;
			}
			&.item-ios {
				background-color: transparent;
			}
		}
	}
	.scroll-content {
		background-color: #E0E0E0;
		ion-list {
			ion-item {
				background-color: #E0E0E0;
				ion-icon {
					color: #0c5f78;
				}
			}
		}
	}
	div.fixed-content {
		margin-top: 140px !important;
	}
}
.toolbar-ios ion-title.logomenu {
	position: static !important;
	padding-left: 0px;
}
button {
	text-transform: none !important;
}
.contact {
	ion-icon {
		color: #0c5f78;
	}
}
