#mapBlock, .sebm-google-map-container, #mapBlock > div, #mapBlock > div > div, #map  {
	width: 100%;
  height: 100%;
	ion-list {
		ion-avatar {
			ion-icon {
				font-size: 4rem;
				color: #3974b7;
			}
		}
	}
}
// .ios {
//   agm-map {
//     height: calc(100% - 44px);
//   }
// }
// .md {
//   agm-map {
//     height: calc(100% - 56px);
//   }
// }

ion-header{
	ion-segment.segment-md {
		ion-segment-button {
			&.segment-button{
				font-size: 1.5rem !important;
		    	color: #424242 !important;
				text-transform: none !important;
				ion-icon {
					font-size: 1.8rem !important;
					color: #0c5f78 !important;
				}
			}
			&.segment-activated {
				border-color: #0c5f78 !important;
			}
		}
		// &.segment segment-ios {
		// 	.segment-activated {
		// 		color: #FFFFFF !important;
		// 	}
		// }
	}
	.padding {
		padding: 10px;
	}
}

.segment-ios .segment-button ion-icon {
    font-size: 1.9rem;
    line-height: 1.9rem;
}

// floating buttons
.map-buttons {
  position: absolute;
  bottom: 2em;
  left: 5px;
  z-index: 150;
  height: 10em !important;
  width: 2em !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  #currentPositionButton {}
  #waterCourseButton {}
  #waterMassButton {}
}
