<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{'SPRINGS' | translate}}
    </ion-title>
  </ion-navbar>
    <div [class]="paddingAdjust()">
      <ion-segment [(ngModel)]="spLocation">
        <ion-segment-button value="maplocation">
          <ion-icon name="map"></ion-icon> Mapa
        </ion-segment-button>
        <ion-segment-button value="springlist">
          <ion-icon name="list"></ion-icon> Lista
        </ion-segment-button>
      </ion-segment>
    </div>
</ion-header>

<ion-content>

  <div id="mapBlock" [ngSwitch]="spLocation">
    <div *ngSwitchCase="'maplocation'">

      <div class="map-buttons">
        <button id="currentPositionButton" ion-button icon-only small (tap)="currentLocation()">
            <ion-icon name="locate"></ion-icon>
          </button>

          <button id="waterCourseButton" *ngIf="setShapes" ion-button icon-only small (tap)="toogleShapeWaterCourse()">
            <ion-icon name="water"></ion-icon>
          </button>

          <button id="waterMassButton" *ngIf="setShapes" ion-button icon-only small (tap)="toogleShapeWaterMass()">
            <ion-icon name="map"></ion-icon>
          </button>
      </div>


      <div *ngIf="showMap">
        <agm-map

          [latitude]="curLatLng.lat"
          [longitude]="curLatLng.lng"
          [zoom]="14"
          [disableDefaultUI]="false"
          [zoomControl]="true"
          [usePanning]="true"
          [mapTypeControl] = "true"
          (mapReady)="mapReady()">

          <agm-marker
              *ngFor="let marker of allSprings; let i = index"
              [latitude]="marker.lat"
              [longitude]="marker.lng"
              [iconUrl]="getIcon(1)">
            <agm-info-window>
              <h3><strong>{{marker.title}}</strong></h3>
              <p>Bairro: {{marker.district}}</p>
              <p>Córrego: {{marker.stream}}</p>
              <p>Sub-bacia: {{marker.subbasin}}</p>
              <button ion-button (click)="pushSpringDetails(marker.id)">Detalhes</button>
            </agm-info-window>
          </agm-marker>

          <agm-marker
            [latitude]="curLatLng.lat"
            [longitude]="curLatLng.lng"
            [iconUrl]="currentIcon">
            <agm-info-window>
              <h3><strong>Sua posição atual</strong></h3>
            </agm-info-window>
          </agm-marker>

          <agm-kml-layer *ngIf="shapesObject.shapeWaterCourse" [url]="shapesObject.shapeWaterCourseLink" [zIndex]="123"></agm-kml-layer>
          <agm-kml-layer *ngIf="shapesObject.shapeWaterMass" [url]="shapesObject.shapeWaterMassLinks" [zIndex]="124"></agm-kml-layer>
        </agm-map>
      </div>
    </div>

    <ion-list *ngSwitchCase="'springlist'">
      <ion-item *ngFor="let spring of allSprings">
        <ion-avatar item-left>
          <!-- <img src="{{getIcon(spring.icone)}}"> -->
          <ion-icon name="radio-button-on"></ion-icon>
        </ion-avatar>
        <h2>{{spring.title}}</h2>
        <h3>{{spring.district}}</h3>
        <button ion-button clear item-right (tap)="pushSpringDetails(spring.id)">Detalhes</button>
      </ion-item>
    </ion-list>

  </div>


</ion-content>
