<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{'CONTACT' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contact">
  <ion-list>
    <ion-list-header>Fale conosco</ion-list-header>
    <ion-item>
      <ion-icon name="pin" item-left></ion-icon>
      <h3>Edifício Procurador de Justiça José Eduardo Faria</h3>
      <p>Av. Desembargador Milton Figueiredo Ferreira Mendes, s/nº, Setor "D", Centro Político Administrativo</p>
      <p>Cuiabá - Mato Grosso - Brasil</p>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <a href="mailto:aguaparaofuturo@mpmt.mp.br">aguaparaofuturo@mpmt.mp.br</a>
    </ion-item>
    <ion-item>
      <ion-icon name="call" item-left></ion-icon>
      65 3611-0600
    </ion-item>
  </ion-list>
</ion-content>
