<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{'NEW_SPRING' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

    <ion-grid class="main-grid">
      <ion-row>
        <ion-col>

          <!--Login check-->
          <div class="loginCheck" *ngIf="showKey == 0">
            <h4>Você precisa realizar o login para enviar uma nova nascente.</h4>
            <p>Conheça a nossa <a [navPush]="privacyPolicy">política de privacidade</a></p>
            <p><button type="button" ion-button icon-left (tap)="goLogin()"><ion-icon name="log-in"></ion-icon> Login</button></p>
          </div>

          <!--Intro/privacy-->
          <div class="startBox" *ngIf="showKey == 1">
            <div>
              <div class="startBox-image"><img src="assets/img/new_spring.svg"></div>
              <h4>Ajude-nos a conhecer todas as nascentes da área urbana de Cuiabá</h4>
              <p>Se você sabe da existência de uma nascente ainda não mapeada pelo projeto Água para o Futuro na região urbana de Cuiabá, baixe o aplicativo, faça uma foto e nos envie (o aplicativo possui uma ferramenta para identificar automaticamente a posição geográfica da nascente).</p>
              <p>Seu material será analisado pela equipe técnica, que irá ao local. Se a nascente for confirmada, integrará o mapa de monitoramento do projeto, e você receberá por <i>e-mail</i> informação sobre o resultado.</p>
              <p class="ac"><a [navPush]="privacyPolicy">política de privacidade</a></p>
            </div>
          </div>

          <!--image selection-->
          <div class="imageBox" *ngIf="showKey == 2">
            <ion-fab top right>
              <button type="button" ion-fab mini color="light" (tap)="openMenu()"><ion-icon name="create"></ion-icon></button>
            </ion-fab>
            <div class="imageHolder" [style.background-image]="imgPreview"></div>
          </div>

          <!--Textfields -->
          <div class="imputBox" *ngIf="showKey == 3">
            <h5 class="spring-title ios-no-lines">Escreva suas observações e uma breve descrição do local da nascente</h5>
            <ion-list>
              <ion-item class="input">
                <ion-label floating>Observações</ion-label>
                <ion-textarea [(ngModel)]="model.observation" #observation name="observation" required></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label floating>Descreva o local da nascente</ion-label>
                <ion-textarea name="textDescription" #textDescription [(ngModel)]="model.description" required></ion-textarea>
              </ion-item>
            </ion-list>
          </div>

          <!--Contact fields -->
          <div class="imputBox" *ngIf="showKey == 4">
            <h5 class="spring-title ios-no-lines">Informações de contato</h5>
            <ion-list>
              <ion-item class="input">
                <ion-label floating>Nome Completo</ion-label>
                <ion-input [(ngModel)]="model.name" #fullName name="fullName" required></ion-input>
              </ion-item>

              <ion-item class="input">
                <ion-label floating>E-mail</ion-label>
                <ion-input type="email" [(ngModel)]="model.email" #email name="email" required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"></ion-input>
              </ion-item>

              <ion-item class="input">
                <ion-label stacked>Telefone</ion-label>
                <ion-input type="tel" placeholder="(00)00000000" [(ngModel)]="model.phone" #phone name="phone" required></ion-input>
              </ion-item>

              <ion-item class="paddingItem">
                <ion-label>Sigilo dos dados pessoais</ion-label>
                <ion-toggle name="incognitoMode" [(ngModel)]="model.incognito" required></ion-toggle>
              </ion-item>
            </ion-list>
          </div>

          <!--Location Options-->
          <div class="locationBox" *ngIf="showKey == 5">
            <h5 class="spring-title">Localização da nascente</h5>
            <ion-list no-lines>
              <ion-item>
                <ion-label> Localização automática</ion-label>
                <ion-toggle name="autoLocation" [(ngModel)]="autoPos" (ionChange)="goAutoLocation($event)"></ion-toggle>
              </ion-item>
              <ion-item>
                <div *ngIf="autoPos">
                  <p class="muted">Município: {{locationPos.city}}</p>
                  <p class="muted">lat: {{locationPos.lat}}</p>
                  <p class="muted">lng: {{locationPos.lng}}</p>
                </div>
                <button type="button" (tap)="rePosition()" ion-button item-right icon-left [disabled]="!autoPos">
                  <ion-icon name="refresh"></ion-icon>
                  Atualizar posição
                </button>
              </ion-item>
              <hr>
              <ion-item>
                <ion-label> Localização manual</ion-label>
                <ion-toggle name="manualLocation" [(ngModel)]="ctmPos" (ionChange)="goCustonLocation( $event )"></ion-toggle>
              </ion-item>
              <ion-item text-wrap>
                <p *ngIf="ctmPos" [innerHtml]="locationMsg"></p>
                <p class="muted">Utilize o mapa para localizar com precisão o local da nascente</p>
              </ion-item>
            </ion-list>
          </div>

          <!--final check e send button-->
          <div class="formsNewSpring" *ngIf="showKey == 6">

            <h5 class="spring-title no-line no-margin">Confirme as informações</h5>
            <ion-list>
              <ion-item-group>
                <ion-item-divider color="light">Identificação</ion-item-divider>
                <ion-item>
                  <ion-icon name="contact" item-left></ion-icon>
                  <h2>{{model.userName}}</h2>
                  <p>{{model.userEmail}}</p>
                </ion-item>
              </ion-item-group>
              <ion-item-divider color="light">Informações da nascente</ion-item-divider>
            </ion-list>
            <ion-grid>
              <ion-row>

                <ion-col>
                  <ion-fab top right>
                    <button ion-fab mini color="light" (tap)="openMenu()"><ion-icon name="create"></ion-icon></button>
                  </ion-fab>
                  <img [src]="imgThumb" class="img-responsive">
                </ion-col>

                <ion-col col-8>
                  <ion-item>
                    <ion-label floating>Observações</ion-label>
                    <ion-textarea [(ngModel)]="model.observation" #observation name="observation" required></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>Descreva o local da nascente</ion-label>
                    <ion-textarea name="textDescription" #textDescription [(ngModel)]="model.description" required></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-list>
              <ion-item-divider color="light">Localização da nascente</ion-item-divider>
              <ion-item>
                <ion-icon name="pin" item-left large></ion-icon>
                <h2>Localização da nascente</h2>
                <p [innerHtml]="locationMsg"></p>
                <button type="button" ion-button icon-left clear item-right (tap)="navCtrl.push(custonLocation)">
                  <ion-icon name="create"></ion-icon>
                </button>
              </ion-item>
            </ion-list>

          </div>

          <!--success/post send message-->
          <div class="successBox" *ngIf="showKey == 7">
            <div>
              <ion-icon name="checkmark"></ion-icon>
              <h2>Envio concluído<br>com sucesso!</h2>
              <p>Em breve entraremos em contato</p>
              <button ion-button (tap)="navCtrl.popToRoot()">OK</button>
            </div>
          </div>

          <div class="fixed-footer" *ngIf="showKey >= 6"></div>

        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>

<!--Footer toolbar-->
<ion-footer *ngIf="showKey <= 6">
  <ion-buttons *ngIf="showKey == 1">
    <ion-toolbar>
      <button type="button" class="start-btn" ion-button icon-left block large (tap)="openMenu()">
        <ion-icon name="add"></ion-icon>
        Nova nascente
      </button>
    </ion-toolbar>
  </ion-buttons>

  <ion-toolbar *ngIf="showKey >= 2">
    <ion-buttons>
      <button type="button" ion-button icon-left (tap)="prevStep()">
        <ion-icon name="arrow-back"></ion-icon>
        Voltar
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button type="button" *ngIf="showKey <= 5" ion-button icon-right (tap)="nextStep(f)">
        Continuar
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <button type="submit" *ngIf="showKey == 6" ion-button icon-right (tap)="sendData()">
        Enviar Nascente
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
