ion-content {
  .fixed-footer {
    padding-bottom: 60px;
  }
  ion-grid {
    &.main-grid {
      //height: 100%;
      padding: 0;
      >ion-row {
        //height: 100%;
        >ion-col {
          padding: 0;
          // height: 100%;
        }
      }
    }
  }
}

.spring-title {
  padding: 20px;
  border-bottom: 1px solid #dedede;
  &.no-lines {
    border: none;
  }
  &.no-margin {
    margin-bottom: 1px;
  }
}
.ios {
  .spring-title {
    &.ios-no-lines {
      border: none;
    }
  }
}

.spring-text {
  padding-left: 20px;
  padding-right: 20px;
}

.sebm-google-map-container {
	width: 100%;
	height: 100%;
}
.startBox {
	height: 100%;
  text-align: center;
	display: flex;
	align-items: center;
  padding: 0 10%;
	ion-label {
    	white-space: normal;
	}
  h4 {
    margin-bottom: 2em;
  }
	p {
		text-align: justify;
		text-justify: inter-word;
    font-weight: 300;
    margin-bottom: 2em;
    &.ac {
      text-align: center;
    }
  }
  .startBox-image {
    width: 25%;
    margin: 2em auto 0 auto;
  }
}
.successBox {
	display: flex;
	align-items: center;
	height: 100%;
  text-align: center;
  padding-top: 100px;
  flex-flow: column;
	h2 {
		color: #83b54e;
		font-size: 3rem;
	}
	ion-icon {
		font-size: 10rem;
		color: #83b54e;
		line-height: 0;
		margin-top: -30px;
		margin-bottom: -20px;
	}
}

.loginCheck {
	padding-top: 100px;
	text-align: center;
}

.imageBox {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  .imageHolder {
    flex: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &.no-image {
      background-image: url('../assets/img/no_image.jpg');
      background-repeat: no-repeat;
      background-size: auto auto;
      background-position: center center;
      background-color: #cacaca;
    }
  }
}

$iosFH: 92px;
$mdFH: 56px;
$fullHV: 100vh;

// .ios {
//   .imageBox {
//     height: calc( #{ $fullHV } - #{ $toolbar-ios-height } - #{ $toolbar-ios-height } );
//   }
// }
// .md {
//   .imageBox {
//     height: calc( #{ $fullHV } - #{ $toolbar-md-height } - #{ $toolbar-md-height }) ;
//   }
// }

.imputBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  // padding: 10px;
}

ion-item {
  &.ng-invalid.ng-touched {
    .item-inner {
      border-bottom: 1px solid red !important;
    }
    ion-label {
      color: red;
    }
  }
  &.ng-valid.ng-touched {
    .item-inner {
      border-bottom: 0.55px solid green !important;
    }
    ion-label {
      color: green;
    }
  }
}

.locationBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  // padding: 10px;
  ion-item {
    //border: none;
    &.item-text-wrap {
      word-wrap: break-word;
      word-break: break-all;
    }
  }

}

.formsNewSpring {
  .contentInfo {
    overflow: hidden;
    padding: 10px;
    .content-info-img {
      float: left;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: auto;
      width: 75px;
      padding-top: 10px;
    }
    .content-info-inputs {
      margin-left: 10px;
      float: left;
    }
  }
}

ion-footer {
  ion-toobar, .toolbar, .toolbar-md {
    min-height: 72px;
  }
}
