<ion-header>
	<ion-navbar>
		<ion-title>{{'ABOUT' | translate}}</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>


  <div class="logo-about"><img src="assets/img/logo_login.svg" alt="Água para o Futuro"></div>


  <p><strong>Projeto Água para o Futuro</strong></p>

  <p>Ministério Publico do Estado de Mato Grosso</p>

  <p>17ª Promotoria de Justiça de Defesa da Ordem Urbanística e do Patrimônio Cultural de Cuiabá</p>

  <p>Aplicativo para celulares e tablets para localização e identificação de nascentes</p>

  <p>Versão: 3.6.4 – Maio 2018</p>

  <a [navPush]="privacyPolicy">Política de privacidade (jan 2017)</a>

</ion-content>
