.bar {
	position: absolute;
	display: block;
	width: 100%;
	height: 45px;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	z-index: 10;
	left: 0;
	top: 0;
	border-color: #b2b2b2;
	background: #f8f8f8;
}

.bar button {
	color: #424242;
  background-color: transparent;
  background-image: url('https://www.tiagodonatti.net/temp/apfapp/icon_close.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;
  width: 65px;
  height: 35px;
  float: right;
  border: none;
  margin-top: 7px;
}

#loading {
  position: absolute;
	display: block;
  padding: 5px;
  width: 100px;
	font-family: 'Roboto';
	z-index: 10;
	left: 50%;
	top: 250px;
	border-color: #b2b2b2;
  background: #f8f8f8;
  margin-left: -50px;
}
