<ion-header>
	<ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
		<ion-title>
			<ion-title>{{'IMAGERECOGNITION' | translate}}</ion-title>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
  <div class="arMsg">
    <ion-spinner large></ion-spinner>
    <h2>{{msgText}} </h2>
  </div>
</ion-content>
