page-imagerecognition {
  ion-content {
    .scroll-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .arMsg {
    display: block;
    text-align: center;
  }
}
