<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{'MONITORING' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form name="form" (ngSubmit)="f.form.valid && nextStep( f )" #f="ngForm" novalidate>

  <ion-grid class="main-grid">
    <ion-row>
      <ion-col>

        <!--Login check-->
        <div class="loginCheck" *ngIf="showKey == 0">
          <h4>Você precisa realizar o login para enviar uma nova nascente.</h4>
          <p>Conheça a nossa <a [navPush]="privacyPolicy">política de privacidade</a></p>
          <p><button type="button" ion-button icon-left (tap)="goLogin()"><ion-icon name="log-in"></ion-icon> Login</button></p>
        </div>

        <!--Intro/privacy-->
        <div class="startBox" *ngIf="showKey == 1">
          <div>
            <div class="startBox-image"><img src="assets/img/monitoring.svg"></div>
            <h4>Ajude-nos a cuidar das nascentes de Mato Grosso</h4>
            <p>Avise a equipe do projeto Água para o Futuro sobre qualquer ameaça às nascentes de Cuiabá.</p>
            <p>E se você estiver em outra cidade do Estado e constatar a degradação de alguma nascente, envie-nos a imagem (o aplicativo possui uma ferramenta para identificar a posição geográfica da nascente).</p>
            <p>Essa informação será automaticamente direcionada à Ouvidoria do Ministério Público de Mato Grosso, que comunicará o fato à Promotoria de Justiça da localidade.</p>
            <p>Seus dados pessoais não serão divulgados e sua contribuição pode ser fundamental para garantir a segurança hídrica e o abastecimento de água potável a presente e futura gerações.</p>
            <p class="ac"><a [navPush]="privacyPolicy">política de privacidade</a></p>
          </div>
        </div>

        <!--image selection-->
        <div class="imageBox" *ngIf="showKey == 2">
          <ion-fab top right>
            <button type="button" type="button" ion-fab mini color="light" (tap)="openMenu()"><ion-icon name="create"></ion-icon></button>
          </ion-fab>
          <div class="imageHolder no-image" [class.no-image]="noImage" [style.background-image]="imgPreview">
            <!--<img [src]="imgPreview">-->
          </div>
        </div>

        <!--Textfields -->
        <div class="imputBox" *ngIf="showKey == 3">
          <h5 class="spring-title ios-no-lines">Selecione um assunto e escreva a sua mensagem</h5>
          <ion-list>

            <ion-item [ngClass]="{ 'has-error': f.submitted && !optionsubject.valid }">
              <ion-label>Assunto</ion-label>
              <ion-select [(ngModel)]="model.subject" #optionsubject name="optionsubject" multiple="true" required>
                <ion-option value="sugestao">Sugestão</ion-option>
                <ion-option value="aterramento">Aterramento de nascente</ion-option>
                <ion-option value="residuos">Resíduos sólidos</ion-option>
                <ion-option value="lancamento_afluente">Lançamento de efluentes</ion-option>
                <ion-option value="queimadas">Queimadas</ion-option>
                <ion-option value="canalizacao">Canalização de leito</ion-option>
                <ion-option value="dano">Dano da Área de Preservação</ion-option>
                <ion-option value="outro">Outros</ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label floating>Descreva o problema</ion-label>
              <ion-textarea name="textMessage" [(ngModel)]="model.message" required></ion-textarea>
            </ion-item>

          </ion-list>
        </div>

        <!--Textfields -->
        <div class="imputBox" *ngIf="showKey == 4">
          <h5 class="spring-title ios-no-lines">Informações pessoais</h5>
          <p class="spring-text">Precisamos das suas informações pessoais para dar abertura ao procedimento</p>
          <ion-list>

            <ion-item>
              <ion-label floating>Nome Completo</ion-label>
              <ion-input type="text" name="fullname" [(ngModel)]="model.name" #fullname="ngModel" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>E-mail</ion-label>
              <ion-input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>Telefone ou celular</ion-label>
              <ion-input type="tel" placeholder="(00)00000000" name="phone" [(ngModel)]="model.phone" #phone="ngModel" required></ion-input>
            </ion-item>

            <ion-item class="paddingItem">
              <ion-label>Sigilo dos dados pessoais</ion-label>
              <ion-toggle name="incognitoMode" [(ngModel)]="model.incognito" required></ion-toggle>
            </ion-item>

            <h6 class="spring-title ios-no-lines">Endereço residencial</h6>

            <ion-item>
              <ion-label floating>CEP</ion-label>
              <ion-input  type="tel" class="frontZipCode" name="zipcode" mask="99999-999" [(ngModel)]="model.zipcode" #zipcode="ngModel" required></ion-input>
            </ion-item>

            <ion-item>
                <button ion-button (click)="getAddress( model.zipcode )"> <ion-icon name="search"></ion-icon> Buscar</button>
                <ion-spinner *ngIf="spinner"></ion-spinner>
            </ion-item>


            <ion-item>
              <ion-label floating>Rua/logradouro</ion-label>
              <ion-input type="text" name="street" [(ngModel)]="model.street" #street="ngModel" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Número</ion-label>
              <ion-input type="text" name="number" [(ngModel)]="model.number" #number="ngModel" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Bairro</ion-label>
              <ion-input type="text" name="district" [(ngModel)]="model.district" #district="ngModel" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Município</ion-label>
              <ion-input type="text" name="city" [(ngModel)]="model.city" #city="ngModel" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Estado</ion-label>
              <ion-input type="text" name="state" [(ngModel)]="model.state" #state="ngModel" required></ion-input>
            </ion-item>

          </ion-list>
        </div>

        <!--Location Options-->
        <div class="locationBox" *ngIf="showKey == 5">
          <h5 class="spring-title">Localização</h5>
          <ion-list no-lines>
            <ion-item>
              <ion-label> Localização automática</ion-label>
              <ion-toggle name="autoLocation" [(ngModel)]="autoPos" (ionChange)="goAutoLocation( $event )"></ion-toggle>
            </ion-item>
            <ion-item>
              <div *ngIf="autoPos">
                <p class="muted">Município: {{locationPos.city}}</p>
                <p class="muted">lat: {{locationPos.lat}}</p>
                <p class="muted">lng: {{locationPos.lng}}</p>
              </div>
              <button type="button" type="button" (tap)="rePosition()" ion-button item-right icon-left [disabled]="!autoPos">
                <ion-icon name="refresh"></ion-icon>
                Atualizar posição
              </button>
            </ion-item>
            <hr>
            <ion-item>
              <ion-label> Localização manual</ion-label>
              <ion-toggle name="manualLocation" [(ngModel)]="ctmPos" (ionChange)="goCustonLocation($event)"></ion-toggle>
            </ion-item>
            <ion-item text-wrap>
              <p *ngIf="ctmPos" [innerHtml]="locationMsg"></p>
              <p class="muted">Utilize o mapa para localizar com precisão o local da nascente</p>
            </ion-item>
          </ion-list>
        </div>

        <!--final check e send button-->
        <div class="formsNewSpring" *ngIf="showKey == 6">

          <h5 class="spring-title no-line no-margin">Confirme as informações</h5>
          <ion-list>
            <ion-item-group>
              <ion-item-divider color="light">Identificação</ion-item-divider>
              <ion-item>
                <ion-icon name="contact" item-left></ion-icon>
                <h2>{{model.userName}}</h2>
                <p>{{model.userEmail}}</p>
              </ion-item>
            </ion-item-group>
            <ion-item-divider color="light">Informações</ion-item-divider>
          </ion-list>
          <ion-grid>
            <ion-row>

              <ion-col>
                <ion-fab top right>
                  <button type="button" type="button" ion-fab mini color="light" (tap)="openMenu()"><ion-icon name="create"></ion-icon></button>
                </ion-fab>
                <img [src]="imgThumb" class="img-responsive">
              </ion-col>

              <ion-col col-8>
                <ion-item>
                  <ion-label>Assunto</ion-label>
                  <ion-select [(ngModel)]="model.subject" #optionsubject name="optionsubject" multiple="true" required>
                    <ion-option value="sugestao">Sugestão</ion-option>
                    <ion-option value="aterramento">Aterramento da nascente</ion-option>
                    <ion-option value="residuos">Resíduos sólidos</ion-option>
                    <ion-option value="lancamento_afluente">Lançamento de efluentes</ion-option>
                    <ion-option value="queimadas">Queimadas</ion-option>
                    <ion-option value="canalizacao">Impermeabilização do leito e/ou solo (Canalização)</ion-option>
                    <ion-option value="dano">Dano da Área de Preservação Permanente (APP)</ion-option>
                    <ion-option value="outro">Outros</ion-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label floating>Descrição</ion-label>
                  <ion-textarea name="textMessage" [(ngModel)]="model.message" required></ion-textarea>
                </ion-item>
              </ion-col>

            </ion-row>
          </ion-grid>

          <ion-list>

            <ion-item-divider color="light">Localização da nascente</ion-item-divider>
            <ion-item>
              <ion-icon name="pin" item-left large></ion-icon>
              <h2>Localização da nascente</h2>
              <p [innerHtml]="locationMsg"></p>
              <button type="button" type="button" ion-button icon-left clear item-right (tap)="navCtrl.push(custonLocation)">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-item>

          </ion-list>

        </div>

        <!--success/post send message-->
        <div class="successBox" *ngIf="showKey == 7">
          <div>
            <ion-icon name="checkmark"></ion-icon>
            <h2>Envio concluído com sucesso!</h2>
            <p>Em breve entraremos em contato</p>
            <button type="button" ion-button (tap)="navCtrl.popToRoot()">OK</button>
          </div>
        </div>

        <div class="fixed-footer" *ngIf="showKey <= 6"></div>

      </ion-col>
    </ion-row>
  </ion-grid>
</form>

</ion-content>

<!--Footer toolbar-->
<ion-footer *ngIf="showKey <= 6">
  <ion-toolbar *ngIf="showKey == 1">
    <button type="button" class="start-btn" ion-button icon-left block large (tap)="openMenu()">
      <ion-icon name="add"></ion-icon>
      Nova Mensagem
    </button>
  </ion-toolbar>

  <ion-toolbar *ngIf="showKey >= 2">
    <ion-buttons>
      <button type="button" ion-button icon-left (tap)="prevStep()">
        <ion-icon name="arrow-back"></ion-icon>
        Voltar
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button type="button" *ngIf="showKey <= 5" ion-button icon-right (tap)="nextStep(f)">
        Continuar
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <button type="submit" *ngIf="showKey == 6" ion-button icon-right (tap)="sendData()">
        Enviar
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
